<!---// Interpolation
  <p>{{ storeInfo?.boardName }}</p>
-->
<!---// property binding
  <img [src]="storeInfo?.boardName" *ngIf="isShown" info.value />
-->
<!---// structural directive ,event binding,template value
-->

<!---// structural directive
<button (click)="toogleImage()" #Info></button>
-->
<!---
  <ul>
  <li *ngFor="let item of storeInfo.tasksList">{{ item }}</li>--->
<!---// save navigation operator
  </ul>
    .?

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>This card indeterminates progress bar.</p>
        <p>
          This card indeterminates progress bar.This card indeterminates progress
          bar.This card indeterminates progress bar.This card indeterminates
          progress bar.This card indeterminates progress bar.This card
          indeterminates progress bar.This card indeterminates progress bar.This
          card indeterminates progress bar.This card indeterminates progress
          bar.This card indeterminates progress bar.This card indeterminates
          progress bar.This card indeterminates progress bar.This card
          indeterminates progress bar.This card indeterminates progress bar.This
          card indeterminates progress bar.This card indeterminates progress
          bar.This card indeterminates progress bar.This card indeterminates
          progress bar.This card indeterminates progress bar.This card
          indeterminates progress bar.This card indeterminates progress bar.This
          card indeterminates progress bar.This card indeterminates progress
          bar.This card indeterminates progress bar.This card indeterminates
          progress bar.This card indeterminates progress bar.This card
          indeterminates progress bar.This card indeterminates progress bar.This
          card indeterminates progress bar.This card indeterminates progress
          bar.This card indeterminates progress bar.This card indeterminates
          progress bar.This card indeterminates progress bar.This card
          indeterminates progress bar.This card indeterminates progress bar.This
          card indeterminates progress bar.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
-->
<app-tab-group-dynamic-example></app-tab-group-dynamic-example>
<div class="row m-auto todo-list">
  <div class="card must">
    <div class="card-header">
      <span>MUST DO</span>
      <div class="icons">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="add"
          (click)="open(content, task)"
        ></mat-icon>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="delete"
          (click)="deleteAllTasks()"
        ></mat-icon>
      </div>
    </div>

    <div class="card-body">
      <h5 class="card-title" *ngFor="let task of taskService.tasks; index as i">
        <div>
          <mat-checkbox
            [checked]="task.status"
            (change)="toggleTaskStatus(task)"
            (input)="taskService.updateLastEditTimestamp()"
          >
          </mat-checkbox>
          <span>{{ task.title }}</span>
        </div>
        <div class="icons">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="edit"
            (click)="open(content, task)"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="delete"
            (click)="deleteTask(i)"
          ></mat-icon>
        </div>
      </h5>
    </div>
    <div class="card-footer text-body-secondary">{{ diffHours }}</div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">MUST DO TASK</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div>
      <label for="exampleDataList" class="form-label">Task title</label>
      <input
        class="form-control"
        list="datalistOptions"
        id="exampleDataList"
        placeholder="Task title..."
        [(ngModel)]="taskTitle"
        #TaskTitle
      />
    </div>
    <div>
      <label for="exampleDataList" class="form-label">discription</label>
      <textarea
        class="form-control"
        list="datalistOptions"
        id="exampleDataList"
        placeholder="Type to search..."
        #TaskDisc
        [(ngModel)]="discription"
      ></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="
        isEditing ? updateTask() : saveTask(TaskTitle, TaskDisc);
        d('Cross click')
      "
    >
      {{ isEditing ? "Update" : "Save" }}
    </button>
  </div>
</ng-template>

<!---
<div class="card shouldDo">
  <div class="card-header">
    <span>SHOULD DO</span>
    <div class="icons">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="add"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="delete"
      ></mat-icon>
    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title">
      <div>
        <mat-checkbox> </mat-checkbox>
        <span>First new idea</span>
      </div>
      <div class="icons">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="edit"
          (click)="open(content)"
        ></mat-icon>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="delete"
        ></mat-icon>
      </div>
    </h5>
  </div>
  <div class="card-footer text-body-secondary">
    {{ diffHours }}
  </div>
</div>
<div class="card ifTime">
  <div class="card-header">
    <span>IF I HAVE TIME</span>
    <div class="icons">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="add"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="delete"
      ></mat-icon>
    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title" *ngFor="let item of task">
      <div>
        <mat-checkbox>{{ item.title }} </mat-checkbox>
      </div>
      <div class="icons">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="edit"
          #tooltip="matTooltip"
          matTooltip="Edit"
        ></mat-icon>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="delete"
          #tooltip="matTooltip"
          matTooltip="Delete"
        ></mat-icon>
      </div>
    </h5>
  </div>
  <div class="card-footer text-body-secondary"></div>
</div>--->
