.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/bg.jpeg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.8); // Adjust the blur intensity as needed
  box-shadow: none;
  z-index: -1;
}

.todo-list {
  max-width: 95%;
  height: 100vh;
  margin: auto;
  z-index: 10;
  @media only screen and (max-width: 375px) {
    margin: 0.2rem;
    max-width: min-content;
    gap: 23px;
  }
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .mat-icon {
    cursor: pointer;
  }
}

.form {
  input {
    margin-bottom: 10px;
  }
  .alert-danger {
    padding: 8px;
    margin-bottom: 6px;
  }
  .text-area {
    margin-bottom: 10px;
  }
}
.card {
  width: 30%;
  min-height: 35em;
  max-width: 100%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  background: rgba(187, 187, 187, 0.742);
  border-radius: 10px;
  padding: 20px;
  border: none;
  box-shadow: 10px 6px 6px #274738, 0 1px 3px #274738;
  transition: transform 0.3s ease;

  .card-header {
    padding: 15px;
    font-weight: 500;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 0.5rem;
    margin-top: 16px;
    margin-inline: 15px;
    box-shadow: 10px 6px 6px #274738, 0 1px 3px #274738;
    background-color: #2b6155;
    color: #feffd5;
  }

  .card-title {
    margin: 10px;
    margin-block: 15px;
    padding: 5px;
    box-shadow: 0 0 10px #1b3428;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    color: #feffd5;
    background-color: #739b8a;
    text-transform: capitalize;
    cursor: pointer;
    &:hover {
      transform: scale(1.15);
    }
  }
  @media only screen and (max-width: 768px) {
    flex: 0 0 calc(50% - 1rem);
  }
  @media only screen and (max-width: 576px) {
    flex: 0 0 calc(100% - 1rem);
    .icons {
      justify-content: space-between;
    }
    .icons mat-icon {
      margin-left: 0;
      margin-right: 0;
    }
    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .card-footer {
      text-align: right;
    }
  }
  @media only screen and (max-width: 375px) {
    margin: auto;
    min-width: 80vw;
    padding-inline: 10vw;
    flex: 1 1 auto;
    .card-header {
      margin: auto;
      flex: 0 1 auto;
      width: auto;
      min-width: 20vw;
      max-width: 80vw;
      flex-wrap: wrap;
    }
    .card-body {
      padding-inline: 0;
    }
    .card-title {
      flex-wrap: wrap;
      flex: 0 1 auto;
      margin: auto;
      margin-inline: 2px;
      max-width: 80vw;
    }
    .card-footer {
      flex-wrap: wrap;
      flex: 0 1 auto;
      margin: auto;
      max-width: 80vw;
      padding-inline: 0;
    }
  }
}

.card-footer {
  color: #173728;
  font-weight: 500;
  text-align: center;
  padding-bottom: 0;
  border-top: 2px solid;
  border-color: #274738;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

.taskTitle {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
}

.taskText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

form button {
  background-color: #2b6155;
  color: #feffd5;
  border-color: #2b6155;
}
