<div class="row m-auto todo-list">
  <div
    class="card"
    [ngClass]="getClassForBoard(board.title)"
    *ngFor="let board of boards"
  >
    <div class="card-header">
      <span>{{ board.title }}</span>
      <div class="icons">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="add"
          (click)="open(content, task)"
        ></mat-icon>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="delete"
          (click)="deleteAllTasks(board.title)"
        ></mat-icon>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title" *ngFor="let task of board.tasks">
        <div class="taskTitle">
          <mat-checkbox
            class="custom-checkbox"
            [checked]="task.status"
            (change)="toggleTaskStatus(task, board.title)"
            (input)="boardService.updateLastEditTimestamp()"
            color="primary"
          >
          </mat-checkbox>
          <span class="taskText">{{ task.title }}</span>
        </div>
        <div class="icons">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="edit"
            (click)="open(content, task)"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="delete"
            (click)="removeTask(board.title, task.id)"
          ></mat-icon>
        </div>
      </h5>
    </div>
    <div class="card-footer">
      {{ board.diffHours }}
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <span class="modal-title bold" id="modal-basic-title">
          {{ board.title }}
        </span>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="d('Cross click')"
        ></button>
      </div>
      <div class="modal-body pb-0">
        <form
          #taskForm="ngForm"
          class="form"
          (ngSubmit)="
            isEditing
              ? updateTask(board.title)
              : addTask(TaskTitle, TaskDisc, board.title);
            d('Cross click')
          "
        >
          <label for="taskTitle" class="form-label">Task title</label>
          <input
            class="form-control ng-valid"
            name="taskTitle"
            id="taskTitle"
            placeholder="Task title..."
            [(ngModel)]="taskTitle"
            required
            #TaskTitle="ngModel"
          />
          <!---     {{ TaskTitle.className | json }}--->
          <div [hidden]="TaskTitle.valid || TaskTitle.untouched">
            <div
              *ngIf="TaskTitle.errors?.['required']"
              class="alert alert-danger"
            >
              <span> Required </span>
            </div>
            <small
              *ngIf="TaskTitle.errors?.['pattern']"
              class="alert alert-danger"
              >Required</small
            >
          </div>
          <label for="taskDisc" class="form-label">Description</label>
          <textarea
            class="form-control ng-valid text-area"
            id="taskDisc"
            name="taskDisc"
            placeholder="Type to search..."
            #TaskDisc="ngModel"
            required
            [(ngModel)]="discription"
          ></textarea>
          <div [hidden]="TaskDisc.valid || TaskDisc.untouched">
            <div
              *ngIf="TaskDisc.errors?.['required']"
              class="alert alert-danger"
            >
              Required
            </div>
            <div
              *ngIf="TaskDisc.errors?.['pattern']"
              class="alert alert-danger"
            >
              Required
            </div>
          </div>
          <div class="modal-footer w-100 px-0">
            <button
              type="button"
              class="btn btn-outline-dark w-100"
              type="submit"
              [disabled]="taskForm.invalid"
            >
              {{ isEditing ? "Update" : "Save" }}
            </button>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>
