.app-todo-list {
  max-width: 50px;
}
.mat-mdc-card {
  max-width: 50%;
}

.todo-list {
  max-width: 95%;
  height: 100vh;
  margin: auto;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .mat-icon {
    cursor: pointer;
  }
}
.card {
  width: 30%;
  min-width: 20rem;
  min-height: 35em;
  max-width: 100%;
  margin: 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  .card-header {
    padding: 15px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.896); /* Adjust opacity as needed */
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 0.5rem;
    margin-top: 16px;
    margin-inline: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow for depth */
  }
  .card-title {
    margin: 10px;
    margin-block: 15px;
    padding: 5px;
    background-color: #455a8757; /* Adjust opacity as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow for depth */
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #feffd5;
  }
}

.card {
  background: rgba(
    255,
    255,
    255,
    0.25
  ); /* Adjust the alpha value to control the transparency */
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
  border-radius: 10px; /* Adjust the border radius as needed */
  padding: 20px; /* Adjust padding as needed */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease; /* Add transition for transform property */
  &:hover {
    transform: scale(1.05); /* Increase scale on hover */
  }
}
.must-do {
  .card-header {
    background-color: #38496d;
    color: #feffd5;
  }
  .card-title {
    background-color: #455a8757; /* Adjust opacity as needed */
    color: #feffd5;
  }
}
.should-do {
  .card-header {
    color: #feffd5;
    background-color: #5b727e;
  }
  .card-title {
    background-color: #67818f6f; /* Adjust opacity as needed */
    color: #feffd5;
  }
}

.if-i-have-time {
  .card-header {
    color: #feffd5;
    background-color: #9bc9e28d;
  }
  .card-title {
    background-color: #8ab3c88a; /* Adjust opacity as needed */
    color: #feffd5;
  }
}
.card-footer {
  color: #d1dce3;
  font-weight: 500;
  text-align: center;
  padding-bottom: 0;
  border-top: 2px solid;
  border-color: #d1dce376;
}

.form {
  input {
    margin-bottom: 10px;
  }
}

.modal-backdrop {
  background: rgba(
    255,
    255,
    255,
    0.5
  ); /* Adjust the alpha value to control the transparency */
  backdrop-filter: blur(5px);
}

.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
.alert-danger {
  padding: 8px; /* Adjust the padding to control the height */
  margin-bottom: 6px;
}
.text-area {
  margin-bottom: 10px;
}

.taskTitle {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
}

.taskText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
